<!-- Hero -->
 <article class="hero-section">
<div class="container">
    <h1 class="visually-hidden">Pet Candy Puzzle</h1>
</div>
 </article>
 <!-- Game Description -->
<section class="game-section">
    <div class="container game-container">
        <h2 class="game-title">Game Description</h2>
        <img class="game-img" src="/img/game/desk.png" alt="Pet Candy Puzzle" loading="lazy" width="414" height="459">
        <p class="game-text"><span class="span">Welcome to Pet Candy Puzzle!</span> Step into a delicious world where charming pets and juicy candies await! Pet Candy Puzzle
        combines the classic match-3 formula with lovable pet characters and delightful level goals. Match your way through
        vibrant boards, unlock new furry friends, and explore a candy-coated world bursting with color, fun, and surprises.
        Perfect for casual gamers of all ages!</p>
        <img class="bird" src="/img/game/bird.png" alt="Bird" loading="lazy" width="299" height="315">
        <img class="box" src="/img/game/box.png" alt="Box" loading="lazy" width="126" height="106">
        <img class="mouse" src="/img/game/mouse.png" alt="Mouse" loading="lazy" width="154" height="199">
    </div>
</section>
<!--       Characters -->
<section class="characters-section">
    <div class="container">
        <h2 class="characters-tittle">Characters</h2>
        <div class="swiper characters-swiper">
            <div class="swiper-wrapper characters-swiper-wrapper">
                <div class="swiper-slide characters-swiper-slide">
                    <img class="characters-img" src="/img/characters/one.png" alt="Milo the Puppy" loading="lazy" width="305" height="425"/>
                    <h3 class="characters-subtitle">Milo the Puppy</h3>
                    <p class="characters-text">Barks with joy when you clear big combos!</p>
                </div>
                <div class="swiper-slide characters-swiper-slide">
                    <img class="characters-img" src="/img/characters/two.png" alt="Luna the Kitten " loading="lazy" width="305" height="425" />
                    <h3 class="characters-subtitle">Luna the Kitten</h3>
                    <p class="characters-text">Loves matching purple jelly candies.</p>
                </div>
                <div class="swiper-slide characters-swiper-slide">
                    <img class="characters-img" src="/img/characters/three.png" alt="Bibi the Bunny" loading="lazy" width="305" height="425" />
                    <h3 class="characters-subtitle characters-subtitle-third">Bibi the Bunny</h3>
                    <p class="characters-text">Brings lucky boosters to help in tough<br/> levels.</p>
                </div>
                <div class="swiper-slide characters-swiper-slide">
                    <img class="characters-img" src="/img/characters/four.png" alt="Chirpy the Parrot" loading="lazy" width="305" height="425" />
                    <h3 class="characters-subtitle">Chirpy the Parrot</h3>
                    <p class="characters-text">Alerts you when a bonus is close!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Sweet Features -->
<section class="sweet-section">
    <div class="container">
        <h2 class="sweet-title">Sweet Features</h2>
        <div class="sweet-container">
        <ul class="sweet-list-one">
            <li class="sweet-item">
                <img class="candy" src="/img/sweet/candy.png" alt="Candy" width="26" height="28" loading="lazy">
                <div class="sweet-wrapper">
                    <h3 class="sweet-subtittle">Adorable Pet Companions</h3>
                    <p class="sweet-text">Meet kittens, puppies, bunnies and more!</p>
                </div>
            </li>
            <li class="sweet-item">
                <img class="candy" src="/img/sweet/candy.png" alt="Candy" width="26" height="28" loading="lazy">
                <div class="sweet-wrapper">
                    <h3 class="sweet-subtittle">Hundreds of Addictive Levels</h3>
                    <p class="sweet-text">New goals and surprises at every turn.</p>
                </div>
            </li>
            <li class="sweet-item">
                <img class="candy" src="/img/sweet/candy.png" alt="Candy" width="26" height="28" loading="lazy">
                <div class="sweet-wrapper">
                    <h3 class="sweet-subtittle">Tasty Boosters</h3>
                    <p class="sweet-text">Use candy hammers, rainbow bombs, and jelly clears.</p>
                </div>
            </li>
        </ul>
        <img class="sweet-img" src="/img/sweet/desk.png" srcset="
        /img/sweet/desk.png 1x,
        /img/sweet/desk@2x.png 2x
        " alt="Pet Candy Puzzle" loading="lazy" width="630" height="356" />
        <ul class="sweet-list-two">
            <li class="sweet-item">
                <img class="candy" src="/img/sweet/candy.png" alt="Candy" width="26" height="28" loading="lazy">
                <div class="sweet-wrapper">
                    <h3 class="sweet-subtittle">Cute, Colorful Graphics</h3>
                    <p class="sweet-text">Eye-popping visuals that make every level a treat.</p>
                </div>
            </li>
            <li class="sweet-item">
                <img class="candy" src="/img/sweet/candy.png" alt="Candy" width="26" height="28" loading="lazy">
                <div class="sweet-wrapper">
                    <h3 class="sweet-subtittle">Magical Candy Worlds</h3>
                    <p class="sweet-text">Unlock dreamy lands filled with sweet surprises and fun adventures!</p>
                </div>
            </li>
            <li class="sweet-item">
                <img class="candy" src="/img/sweet/candy.png" alt="Candy" width="26" height="28" loading="lazy">
                <div class="sweet-wrapper">
                    <h3 class="sweet-subtittle">Simple Yet Strategic</h3>
                    <p class="sweet-text">Easy to play, challenging to master.</p>
                </div>
            </li>
        </ul>
        </div>
    </div>
</section>
<!-- Reviews -->
 <section class="reviews-section">
    <div class="container">
        <h2 class="reviews-title">Reviews</h2>
        <div class="swiper reviews-swiper">
            <div class="swiper-wrapper reviews-swiper-wrapper">
                <div class="swiper-slide reviews-swiper-slide">
                    <div class="reviews-wrapper">
                    <img class="reviews-img" src="/img/reviews/one.png" alt="Emma_88:" loading="lazy" width="69"
                        height="69" />
                    <h3 class="reviews-subtitle">Emma_88:</h3>
                </div>
                    <p class="reviews-text">“Such a cute and relaxing game! The pets are adorable, and I love that there are no time limits. Perfect for winding
                    down after work.”</p>
                </div>
                <div class="swiper-slide reviews-swiper-slide">
                    <div class="reviews-wrapper">
                        <img class="reviews-img" src="/img/reviews/two.png" alt="ChocoKing: " loading="lazy" width="69" height="69" />
                        <h3 class="reviews-subtitle">ChocoKing:</h3>
                    </div>
                    <p class="reviews-text">“The graphics are so sweet and colorful! It’s like playing inside a candy shop with fluffy friends.”</p>
                </div>
                <div class="swiper-slide reviews-swiper-slide">
                    <div class="reviews-wrapper">
                        <img class="reviews-img" src="/img/reviews/three.png" alt="NinaBubbles: " loading="lazy" width="69" height="69" />
                        <h3 class="reviews-subtitle">NinaBubbles:</h3>
                    </div>
                    <p class="reviews-text">“Love the little pet animations! Each level feels like a small adventure with them.”</p>
                </div>
                <div class="swiper-slide reviews-swiper-slide">
                    <div class="reviews-wrapper">
                        <img class="reviews-img" src="/img/reviews/four.png" alt="PuzzleLover27:" loading="lazy" width="69" height="69" />
                        <h3 class="reviews-subtitle">PuzzleLover27:</h3>
                    </div>
                    <p class="reviews-text">“Great variety in levels and boosters. I got hooked quickly! Plus, my kids love watching me unlock new pets.”</p>
                </div>
                <div class="swiper-slide reviews-swiper-slide">
                    <div class="reviews-wrapper">
                        <img class="reviews-img" src="/img/reviews/five.png" alt=" RafaelM: " loading="lazy" width="69" height="69" />
                        <h3 class="reviews-subtitle">RafaelM:</h3>
                    </div>
                    <p class="reviews-text">“Very smooth gameplay and no annoying ads. It’s one of the best match-3 games I’ve played.”</p>
                </div>
                <div class="swiper-slide reviews-swiper-slide">
                    <div class="reviews-wrapper">
                        <img class="reviews-img" src="/img/reviews/six.png" alt="GameGranny: " loading="lazy" width="69" height="69" />
                        <h3 class="reviews-subtitle">GameGranny:</h3>
                    </div>
                    <p class="reviews-text">“I’m 63 and play this every morning with my coffee. It’s colorful, cheerful, and keeps my brain active!”</p>
                </div>
            </div>
        </div>
    </div>
 </section>