<!-- Hero -->
 <article class="hero-section">
<div class="container">
    <h1 class="visually-hidden">Pet Candy Puzzle</h1>
</div>
 </article>
 <!-- Game Description -->
<section class="game-section">
    <div class="container game-container">
        <h2 class="game-title">Game Description</h2>
        <img class="game-img" src="/img/game/desk.png" alt="Pet Candy Puzzle" loading="lazy" width="414" height="459">
        <p class="game-text"><span class="span">Welcome to Pet Candy Puzzle!</span> Step into a delicious world where charming pets and juicy candies await! Pet Candy Puzzle
        combines the classic match-3 formula with lovable pet characters and delightful level goals. Match your way through
        vibrant boards, unlock new furry friends, and explore a candy-coated world bursting with color, fun, and surprises.
        Perfect for casual gamers of all ages!</p>
        <img class="bird" src="/img/game/bird.png" alt="Bird" loading="lazy" width="299" height="315">
        <img class="box" src="/img/game/box.png" alt="Box" loading="lazy" width="126" height="106">
        <img class="mouse" src="/img/game/mouse.png" alt="Mouse" loading="lazy" width="154" height="199">
    </div>
</section>